
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<h1>@ViewBag.ItemList</h1>

<label for="Classes">Pick a class:</label>
<select name="Class" id="Class">
    <option value="Computer Science">Computer Science</option>
    <option value="Intro to Programming">Intro to Programming</option>
    <option value="Thinking like a programmer">Thinking like a Programmer</option>





</select>