@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Experience IT Midterm Project</h1>
    <p class="lead">Experience IT Mid Term due November 25th</p>
   
</div>

<div class="center-block">
    <div class="col-md-4">
        <h2>Project: Keven Gainer</h2>
        <p>
           Experience IT mid term project 11/24/2020
        </p>
        
    </div>
   
</div>